<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="action-button.html">
<!--
action-bar: A bar which holds a set of action items.
-->
<polymer-element name="action-container">
  <template>
  <style>
  </style>
  <div vertical layout center id="bar">
    <action-button name="keep"   tooltip="" icon="keep"   onAction=""></action-button>
    <action-button name="create" tooltip="" icon="create" onAction=""></action-button>
    <action-button name="send"   tooltip="" icon="send"   onAction=""></action-button>
  </div>
</template>
<script>
Polymer('action-container', {
});
</script>
</polymer-element>
