<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-icons/core-icons.html">
<link rel="import" href="../bower_components/core-icons/social-icons.html">
<link rel="import" href="../bower_components/core-icons/communication-icons.html">
<!--
action-bar: A bar which holds a set of action items.
-->
<polymer-element name="action-button" attributes="icon theme" on-click="{{clickHandler}}" horizontal layout center>
  <template>
  <style>
  :host {
    width:  37.5px;
    height: 37.5px;
    margin: 3.75px;
    border-radius: 50px;
      background: #107FC9;
    cursor: pointer;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.51);
    -moz-box-shadow:    0px 2px 3px 0px rgba(0,0,0,0.51);
    box-shadow:         0px 2px 3px 0px rgba(0,0,0,0.51);
  }
  :host(:hover){
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.51);
    -moz-box-shadow:    0px 2px 6px 0px rgba(0,0,0,0.51);
    box-shadow:         0px 2px 6px 0px rgba(0,0,0,0.51);
  }
  :host(:active){
    -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow:    inset 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow:         inset 0px 0px 2px 0px rgba(0,0,0,0.75);
  }
  core-icon {
    margin-left: auto;
    margin-right: auto;
  }
  core-icon > svg{
    fill: white;
  }
  </style>
  <core-icon icon="{{icon}}"></core-icon>
</template>
<script>
Polymer('action-button', {
  clickHandler: function(){
    console.log(this);
  }
});
</script>
</polymer-element>
