<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="sentiment-bar.html">

<!--
A widget bar
-->
<polymer-element name="card-widget-sentiment">
  <template>
  <style>
  :host {
    margin: 20px;
  }
  </style>
  <div horizontal layout end id="sentimentBar" on-click="{{clickHandler}}">
    <sentiment-bar value="25" sentiment="very-negative"></sentiment-bar>
    <sentiment-bar value="15" sentiment="negative"></sentiment-bar>
    <sentiment-bar value="25" sentiment="neutral"></sentiment-bar>
    <sentiment-bar value="20" sentiment="positive"></sentiment-bar>
    <sentiment-bar value="15" sentiment="very-positive"></sentiment-bar>
  </span>
  </div>
</template>
<script>
Polymer('card-widget-sentiment', {
  clickHandler: function(){
      console.log("asd");
  }
});
</script>
</polymer-element>
