<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-icons/core-icons.html">
<!--
A widget bar
-->
<polymer-element name="sentiment-bar"
attributes="value sentiment heart emoticon"
on-click="{{clickHandler}}"
vertical layout center>
<template>
<style>
:host{
  width: 23px;
  height: 100px;
  color: white;
  -webkit-box-shadow: 2px 1px 4px 0px rgba(0,0,0,0.51);
  -moz-box-shadow:    2px 1px 4px 0px rgba(0,0,0,0.51);
  box-shadow:         2px 1px 4px 0px rgba(0,0,0,0.51);
}
#emoticon{
  font-family: HelveticaNeue-Medium;
  font-size: 12px;
  color: rgba(255,255,255,0.75);
}
core-icon > svg{
  fill: rgba(255,255,255,0.5);
  transform:scale(0.75);
}
</style>
<div id="emoticon"></div>
</template>
<script>
Polymer('sentiment-bar', {
  attached: function() {
    var self = this.$;
    this.style.height = this.value+"px";
    if(this.sentiment == "very-positive"){
      this.style.background = "#00C273";
    } else if(this.sentiment == "positive"){
      this.style.background = "#86C300";
    } else if(this.sentiment == "negative"){
      this.style.background = "#FF8A00";
    } else if(this.sentiment == "very-negative"){
      this.style.background = "#FF0035";
    } else if(this.sentiment == "neutral"){
      this.style.background = "#FBBF00";
    }
    if(this.heart == "true"){
      self.emoticon.innerHTML = "<core-icon icon='favorite' size='24'></core-icon>";
    }
    if(this.emoticon == "true"){
      switch(this.sentiment) {
        case "neutral":      self.emoticon.innerHTML = ":|"; break;
        case "positive":     self.emoticon.innerHTML = ":)"; break;
        case "negative":     self.emoticon.innerHTML = ":("; break;
        case "very-positive":self.emoticon.innerHTML = ":D"; break;
        case "very-negative":self.emoticon.innerHTML = "D:"; break;
      }
    }
  },
  clickHandler: function(){
    console.log(this);
  }
});
</script>
</polymer-element>
