<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-animation/core-animation.html">
<link href='http://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
<!--
@author Francisco Gutiérrez - fsalvador23@gmail.com
-->
<polymer-element name="widget-folksonomy-list"
attributes="folksonomy scrolling"
on-tap="{{tapHandler}}"
vertical layout center>
<template>
<style>
:host{
  /*position: absolute*/
  height: 50px;
  overflow: hidden;
}
#fk{
  position: relative;
  font-family: 'Roboto','Helvetica', sans-serif;
  color: white;
  font-size: 14px;
  padding: 2px;
  font-weight: 100;
  text-overflow:ellipsis;
  text-align: center;
}
</style>
<div id="list"></div>
</template>
<script>
Polymer('widget-folksonomy-list', {
  attached: function() {
    var data = JSON.parse(this.folksonomy);
    var index = 1;
    for (var i in data.folksonomy) {
      var sentence = data.folksonomy[i];
      this.$.list.innerHTML += "<div id='fk' style='color:rgba(255,255,255,"+index+")'>"+sentence+"</div>";
      // index = index*.75;
    }
    if(this.scrolling == "true") {
      var animation = new CoreAnimation();
      animation.duration = 22000;
      animation.iterations = "Infinity";
      animation.direction = "alternate";
      animation.keyframes = [ {transform: "translate(0px,0px)"},{transform: "translate(0px,-200px)"}];
      animation.target = this.$.list;
      animation.play();
    }
  }
});
</script>
</polymer-element>
