<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="sentiment-bar.html">

<!--
A widget bar
-->
<polymer-element name="widget-sentiment-chart">
  <template>
  <style>
  :host {
    position: relative;
    cursor: pointer;
    overflow:hidden;
  }
  </style>
  <div horizontal layout end id="sentimentBar" on-click="{{clickHandler}}">
    <sentiment-bar value="25" sentiment="very-negative"></sentiment-bar>
    <sentiment-bar value="15" sentiment="negative"></sentiment-bar>
    <sentiment-bar value="25" sentiment="neutral"></sentiment-bar>
    <sentiment-bar value="100" sentiment="positive"></sentiment-bar>
    <sentiment-bar value="15" sentiment="very-positive"></sentiment-bar>
  </div>
</template>
<script>
Polymer('widget-sentiment-chart', {
  clickHandler: function(){
      console.log(this);
  }
});
</script>
</polymer-element>
