<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-animation/core-animation.html">
<!--
@author Francisco Gutiérrez - fsalvador23@gmail.com
-->
<polymer-element name="widget-folksonomy-chart"
attributes="folksonomy"
on-tap="{{tapHandler}}"
vertical layout center>
<template>
<style>
:host{
  height: 70px;
}
.fk{
  position: relative;
  font-family: 'Roboto','Helvetica', sans-serif;
  color: white;
  font-size: 14px;
  padding: 2px;
  font-weight: 100;
  overflow: visible;
  text-overflow:ellipsis;
  text-align: center;
}
</style>
<div id="list"></div>
</template>
<script>
Polymer('widget-folksonomy-chart', {
  attached: function() {
    var data = JSON.parse(this.folksonomy);
    var index = 1;
    for (var i in data.folksonomy) {
      var sentence = data.folksonomy[i];
      this.$.list.innerHTML += "<div class='fk' style='color: rgba(255,255,255,"+index+")'>"+sentence+"</div>";
      index = index*.75;
    }
  },
  tapHandler: function() {
    var animation = new CoreAnimation();
    animation.duration = 5000;
    animation.iterations = "Infinity";
    animation.direction = "alternate";
    animation.keyframes = [ {transform: "translate(0px,0px)", opacity: 1}, {transform: "translate(0px,-100px)", opacity: 1}];
    animation.target = this;
    animation.play();
  }
});
</script>
</polymer-element>
