<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="sentiment-bar.html">
<!--
A widget bar
-->
<polymer-element name="widget-sentiment-chart">
  <template>
  <style>
  :host {
    cursor: pointer;
  }
  :host .subtitle{
    font-size:13px;
    font-family: Roboto-Light;
    color: rgba(255,255,255,0.75);
  }
  :host  #metadata{
    left:0;
    bottom: 0;
  }
  :host paper-fab {
    z-index:1;
    top: -5px;
    left:-8px;
    background:#107FC9;
    transform: scale(0.5);
  }
  :host paper-fab::shadow svg {
    transform:      scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    fill: white;
  }
  </style>
  <paper-fab icon="chevron-left" id="backButton" on-tap="{{backHandler}}"></paper-fab>
  <div id="sentimentBar" on-tap="{{clickHandler}}" layout horizontal end>
    <sentiment-bar val="100" sentiment="very-negative"></sentiment-bar>
    <sentiment-bar val="15"  sentiment="negative" emoticon="true"></sentiment-bar>
    <sentiment-bar val="25"  sentiment="neutral"  heart="true"   ></sentiment-bar>
    <sentiment-bar val="100" sentiment="positive" emoticon="true"></sentiment-bar>
    <sentiment-bar val="15"  sentiment="very-positive"></sentiment-bar>
    <div id="metadata"></div>
  </div>
</template>
<script>
Polymer('widget-sentiment-chart', {
  clickHandler: function(){
    var self = this.$;
    self.backButton.style.display = "block";
    self.metadata.style.display = "block";
    self.metadata.innerHTML="";
    for(i=0; i <5; i++){
      var newNode = document.createElement('div');
      newNode.innerHTML = self.sentimentBar.children[i].getAttribute("val") + "%";
      newNode.className = "subtitle";
      self.metadata.appendChild(newNode);
      self.sentimentBar.children[i].style.transform  = "translate("+(i+2)*20+"px, 0px)";
      self.sentimentBar.children[i].style.webkitTransform = "translate("+(i+2)*20+"px, 0px)";
      self.sentimentBar.children[i].style.transition = "all .7s";
      self.sentimentBar.children[i].setAttribute("expand","true");
    }
    for(j=0; j <5; j++){
      self.metadata.children[j].style.transform ="translate("+(j+1)*42+"px, 0px)";
      self.metadata.children[j].style.transition = "all .7s";
    }
  },
  backHandler: function(){
    var self = this.$;
    self.backButton.style.display = "none";
    self.metadata.style.display = "none";
    for(i=0; i <5; i++){
      self.sentimentBar.children[i].setAttribute("expand","");
      var newNode = document.createElement('div');
      newNode.innerHTML = self.sentimentBar.children[i].getAttribute("val") + "%";
      newNode.className = "subtitle";
      self.metadata.appendChild(newNode);
      self.sentimentBar.children[i].style.transform  = "translate("+(i-2)/20+"px, 0px)";
      self.sentimentBar.children[i].style.webkitTransform = "translate("+(i-2)/20+"px, 0px)";
      self.sentimentBar.children[i].style.transition = "all .7s";
      self.metadata.innerHTML="";
    }
  }
});
</script>
</polymer-element>
